body, html{
    height: 100%;
    margin: 0;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #f4f4f4;
}

.curriculo {
    display: flex;
    width: 100%;
    min-height: 80vh;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.painel-direito{
    background-color: #f0f0f0;
    color: #333;
    padding: 40px;
    width: 65%;
}

.painel-esquerdo{
    background-color: #48a1d9;
    color: white;
    padding: 40px;
    width: 35%;
}

.perfil img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 90px;
    margin-top: 20px;
}

.perfil h1{
    font-size: 24px;
    margin: 0;
}

.perfil p {
    font-size: 18px;
    margin: 0;
    margin-bottom: 20px;
}

.informacoes-contato h2, .habilidades h2, .experiencia h2, .educacao h2, .projetos h2, .certificacoes h2, .conquistas h2{
    font-size: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.informacoes-contato h2 i, .habilidades h2 i, .experiencia h2 i, .educacao h2 i{
    margin-right: 10px;

}

.informacoes-contato ul, .habilidades ul {
    list-style: none;
    padding: 0;
}

.informacoes-contato li, .habilidades li{
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 10px;
}

.experiencia h2 {
    font-size: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.experiencia p {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
}

.fa-project-diagram, .fa-certificate, .fa-trophy{
    margin-right: 10px;
} 


